<div class="row mt-3">
  <div class="col-md-9">
    <!-- <app-news-card></app-news-card> -->
    <h1>About</h1>
  </div>
<!--  <div class="col-md-3">
    <app-author-profile></app-author-profile>
  </div>
  <app-scroller></app-scroller> -->


<p>Financial Politics is the commentary and media platform. An independent, non-partisan think tank based in Melbourne, Australia.  <img style="padding-left: 0%;"
  class="text-center"
  mat-card-avatar
  src="../../../assets/melbourne_city.png"
  />
  <br>
Financial Politics is an active entity for the public discussion of strategic policy issues for the Western Hemisphere and a recognised and authoritative Australian voice in international discussion of strategic issues, especially in the Western World.

<br><br>Financial Politics aims to provide fresh ideas on the Western World's critical resources and strategic policy choices as well as encourage and facilitate discussion and debate among the strategy community and the Western World public.

The views expressed on Financial Politics are those of the individual authors and don’t represent the views of Financial Politics or the institutions to which the authors.
<br><br>    <img style="padding-left: 0%;"
  class="text-center"
  mat-card-avatar
  src="../../../assets/aboutusimg.jpeg"
/>
Since the founding of Financial Politics, we have progressed the norm and remained strong by our principles for liberty in Australia and Western Democractic Nations. Our work is rooted in the proven strategy of Peace Through Strength as necessitated for the 21st Century strategy of Western nations. Our security and freedom depend on a strong West and leaders who will utilise instruments of national influence wisely to keep our nation in a state of peace and prosperty.</p>
<p>If you would like to contact Financial Politics editorial team please email us at info@datainformatics.com.au</p>


</div>
