<div class="row mt-3">
  <div class="col-md-9">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3263802785071239"
    crossorigin="anonymous"></script>
    <!-- Top Banner 1 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3263802785071239"
        data-ad-slot="8015772578"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <app-news-card></app-news-card>
  </div>
  <div class="col-md-3">
    <app-author-profile></app-author-profile>
  </div>
  <app-scroller></app-scroller>
</div>
